<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sendwine.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:name="com.sendwine.app.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sendwine.app.ui.AppStart"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sendwine.app.ui.Login"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" >
        </activity>
        <activity
            android:name="com.sendwine.app.ui.Register"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme" >
        </activity>
        <activity
            android:name="com.sendwine.app.ui.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
             
        </activity>
        <activity
            android:name="com.sendwine.app.ui.Cart"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.sendwine.app.ui.GoodsDetail"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.sendwine.app.ui.Article"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.sendwine.app.ui.ArticleDetail"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.sendwine.app.ui.GoodsList"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/activityTheme"
            android:windowSoftInputMode="stateAlwaysHidden" >
           
        </activity>
    </application>

</manifest>